@import './common';
// @import './example';

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.form-wrapper {
  width: 100%;
  display: flex;
  background: rgb(66, 83, 175);
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
}

.search-form {
  display: flex;
  margin: 0 auto;
}

input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff;
  outline: none;
  height: 35px;
  width: 270px;
  font-size: 16px;
  font-family: Tahoma;
  border-right: none;
  padding: 5px;
}

.search-button {
  background-image: url('/src/images/search-icon.svg');
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
  padding: 3px;
  border-left: none;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.gallery {
  max-width: 1600px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo-card {
 width: 350px;
  }

img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  border-radius: 5%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  display: none;
}

.load-more-wrapper {
  display: flex;
  text-align: center;
}

.load-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: rgb(66, 83, 175);
  color: rgb(255, 255, 255);
  margin: 20px auto;
  padding: 10px 32px;
  border: 2px solid rgb(66, 83, 175);
  cursor: pointer;
}
